<div class="header" id="header">
  <h1 class="site_title" id="site_title">VkModerator</h1>
</div>

<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <h2 id="page_title"><%= @group.nil? ? 'Отчеты' : "Отчет по сообществу: #{@group.name}" %></h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items"></div>
  </div>
</div>


<div id="active_admin_content" class="with_sidebar">
  <div id="main_content_wrapper">
    <div id="main_content" style="margin-right: 0">

      <div>
        <div class="table_tools">
          <div class="batch_actions_selector dropdown_menu">

            <% @groups.each do |group| %>
                <a href="?group_id=<%= group.id %>">
                  <button><%= group.name %></button>
                </a>
            <% end %>

          </div>
        </div>

        <% unless @group.nil? %>
            <div class="index_content">
              <div class="index_as_table">
                <table border="0" cellspacing="0" cellpadding="0" id="index_table_groups" class="index_table index">
                  <thead>
                  <tr>
                    <th class="col col-actions">Тип</th>
                    <th class="col col-actions">ID отправителя</th>
                    <th class="col col-actions">Дата и время</th>
                    <th class="col col-actions" width="300px">Текст</th>
                    <th class="col col-actions">Причины удаления</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @items.each do |item| %>
                      <tr>
                        <td class="col"><%= item.class == Post ? 'Пост' : 'Комментарий' %></td>
                        <td class="col"><%= item.from_vk_id %></td>
                        <td class="col"><%= item.publish_date.strftime('%Y-%m-%d %H:%M:%S') %></td>
                        <td class="col"><%= item.text %></td>
                        <td class="col">
                          <a href="#" class="get_reason_link"
                             data-itemtype="<%= item.class.to_s %>"
                             data-itemid="<%= item.id %>">Узнать</a>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    $('.get_reason_link').click(function () {
      var item = $(this);
      item.hide();

      var id = item.data('itemid');
      var type = item.data('itemtype');

      $.getJSON('/quick/reason?id=' + id + '&type=' + type, function (data) {
        var text = '';
        $.each(data, function (i) {
          var el = data[i];
          text += el[0] + ' => ' + el[1] + '<br/>'
        });
        item.parent().html(text);
      });

      return false;
    });
  });
</script>

