<%= form_tag add_codes_admin_promo_code_campaign_path(@promo_code_campaign), class: 'formtastic' do %>
    <textarea cols="80" rows="16" name="codes"></textarea>

    <fieldset class="actions">
      <input type="submit" name="commit" value="Добавить">
    </fieldset>
<% end %>
