<%= form_tag generate_admin_group_timetable_items_path(@group) do %>
    <div class="panel_contents">
      <%= select_tag :interval,
                     options_for_select([['15 минут', 15], ['30 минут', 30], ['45 минут', 45], ['60 минут', 60]]) %>
      <div class="buttons">
        <%= submit_tag 'Создать' %>
      </div>
    </div>
<% end %>