<% @config = CoreApi.instance.get_config %>

<div class="panel">
  <div class="panel_contents">
    <h1>Глобальные настройки системы</h1>
    <%= form_tag admin_config_save_path do %>

        <p>
          <%= label_tag :stop_words, 'Стоп слова' %>
          <br/>
          <%= text_area_tag :stop_words, @config[:stop_words].join(', ') %>
        </p>

        <p>
          <%= label_tag :post_timeout, 'Интервал между постами (часы)' %>
          <br/>
          <%= text_field_tag :post_timeout, @config[:post_timeout] %>
        </p>

        <p>
          <%= label_tag :old_timeout, 'Таймаут для удаления старых постов (дни)' %>
          <br/>
          <%= text_field_tag :old_timeout, @config[:old_timeout] %>
        </p>

        <p>
          <%= label_tag :min_followers, 'Минимальное количество друзей для публикации через репост' %>
          <br/>
          <%= text_field_tag :min_followers, @config[:min_followers] %>
        </p>

        <p>
          <%= label_tag :min_friends, 'Минимальное количество друзей для публикации через приглашение' %>
          <br/>
          <%= text_field_tag :min_friends, @config[:min_friends] %>
        </p>

        <p>
          <%= label_tag :request_invite_count, 'Минимальное количество отправленных заявок' %>
          <br/>
          <%= text_field_tag :request_invite_count, @config[:request_invite_count] %>
        </p>

        <p>
          <%= label_tag :max_timetable_offset, 'Максимальное время планирования публикации (часы)' %>
          <br/>
          <%= text_field_tag :max_timetable_offset, @config[:max_timetable_offset] %>
        </p>

        <div class="buttons">
          <%= submit_tag 'Сохранить' %>
        </div>
    <% end %>
  </div>
</div>
